<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Registrar votante</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body id="cuerpo">
	<div class="textClass">
		<h3>Registrar Votante</h3>
	</div>
	<form th:action="@{/saveVotante}" method="post" th:object=${votante}>
		<div id="conForm">
			<div class="mb-3">
				<label for="labidentificacion" class="form-label">Identificación:</label>
				<input type="text" class="form-control" name="identificacion" id="identificacion"
					aria-describedby="GradoHelp" required>
				<div id="identificacionHelp" class="form-text">Digite el número de identificación</div>
			</div>
			<div class="mb-3">
				<label for="labnombres" class="form-label">Nombres:</label>
				<input type="text" class="form-control" name="nombres" id="nombres" aria-describedby="GrupoHelp"
					required>
				<div id="nombresHelp" class="form-text">Digite los nombres</div>
			</div>
			<div class="mb-3">
				<label for="labapellidos" class="form-label">Apellidos:</label>
				<input type="text" class="form-control" name="apellidos" id="apellidos" aria-describedby="GrupoHelp"
					required>
				<div id="apellidosHelp" class="form-text">Digite los apellidos</div>
			</div>
			<label for="sexo" class="form-label">Sexo:</label><br>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="sexo" id="sexo" checked>
				<label class="form-check-label" for="sexo">
					Femenino
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="sexo" id="sexo">
				<label class="form-check-label" for="flexRadioDefault2">
					Masculino
				</label>
				<div id="nombresHelp" class="form-text">Seleccione el sexo</div>
			</div>
			<div class="mb-3">
				<label for="labfechaNac" class="form-label">Fecha de Nacimiento:</label>
				<input type="date" class="form-control" name="fechaNac" id="fechaNac" aria-describedby="GrupoHelp"
					required>
				<div id="fechaNacHelp" class="form-text">Seleccione la fecha de nacimiento</div>
			</div>
			<div class="mb-3">
				<label for="labfechaExp" class="form-label">Fecha de Expedición:</label>
				<input type="date" class="form-control" name="fechaExp" id="fechaExp" aria-describedby="GrupoHelp"
					required>
				<div id="fechaExpHelp" class="form-text">Seleccione la fecha de expedición</div>
			</div>
			<div class="mb-3">
				<label for="lablugarNac" class="form-label">Lugar de nacimiento:</label>
				<select>
					<option value="1">Armenia</option>
					<option value="2">Barranquilla</option>
					<option value="3">Bogotá D.C.</option>
					<option value="4">Bucaramanga</option>
					<option value="5">Cali</option>
					<option value="6">Cartagena</option>
					<option value="7">Cúcuta</option>
					<option value="8">Ibagué</option>
					<option value="9">Manizales</option>
					<option value="10">Medellín</option>
					<option value="11">Neiva</option>
					<option value="12">Santa Marta</option>
				</select>
				<div id="lugarNacHelp" class="form-text">Seleccione el lugar de nacimiento</div>
			</div>
			<div class="mb-3">
				<label for="lablugarRes" class="form-label">Lugar de residencia:</label>
				<select>
					<option value="1">Armenia</option>
					<option value="2">Barranquilla</option>
					<option value="3">Bogotá D.C.</option>
					<option value="4">Bucaramanga</option>
					<option value="5">Cali</option>
					<option value="6">Cartagena</option>
					<option value="7">Cúcuta</option>
					<option value="8">Ibagué</option>
					<option value="9">Manizales</option>
					<option value="10">Medellín</option>
					<option value="11">Neiva</option>
					<option value="12">Santa Marta</option>
				</select>
				<div id="lugarResHelp" class="form-text">Seleccione el lugar de residencia</div>
			</div>
			<div class="mb-3">
				<label for="labtelefono" class="form-label">Teléfono:</label>
				<input type="text" class="form-control" name="telefono" id="telefono" aria-describedby="GrupoHelp"
					required>
				<div id="telefonoHelp" class="form-text">Digite el teléfono</div>
			</div>
			<div class="mb-3">
				<label for="labcorreo" class="form-label">Correo:</label>
				<input type="email" class="form-control" name="correo" id="correo" aria-describedby="GrupoHelp"
					required>
				<div id="correoHelp" class="form-text">Digite el correo</div>
			</div>

			<button type="submit" class="btn btn-outline-secondary">Agregar</button>
	</form>
	</div>

</body>

</html>