<html>

<head>
    <title>Partido Coalición Centro Esperanza</title>
    <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" th:href="@{/css/estiloCE.css}">
     <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
</head>

<body class="fondo">
    <header>
        <table>
            <tr>
                <td>
                    <img src="img/Logo_esperanza.jpg">
                </td>
                <td>
                    <center>
                        <font color="white">
                            <h2 aria-label="">PARTIDO COALICIÓN CENTRO ESPERANZA</h2>
                        </font>
                    </center>
                </td>
            </tr>
        </table>
    </header>
    <hr>
    <nav id="menu">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#Coalicion Centro Esperanza">NOSOTROS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Que Nos Identifica">SERGIO FAJARDO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Sepa Mas DE Nosotros"> SEPA MAS DE NOSOTROS</a>
            </li>
        </ul>
    </nav>
    <section id="contenido1">
        <h3>NUESTRA PARTIDO</h3>
        <P>
        <h1 id="Coalicion Centro Espeanza">Coalición Centro Esperanza</h1>
        <p id="contenido">
            <font aling="justyfi" size="5">
                La Coalición Centro Esperanza, anteriormente conocida como Coalición de la Esperanza, fue una coalición
                política y electoral de Colombia compuesta principalmente por partidos y movimientos políticos de centro
                y centroizquierda, para las elecciones legislativas y presidenciales de 2022.Según anunciaron sus
                fundadores, la coalición se basó en cuatro lineamientos programáticos bajo los cuales trabajarían:
                recuperar la confianza en la democracia, poner la economía al servicio de la ciudadanía, cuidar la
                biodiversidad y proteger la ciudadanía y los territorios.</font>
        </P>
        <img id="fotopartido" src="img/OIP (3).jfif" class="styleImg">

        <h3 id="Que Nos Identifica">SERGIO FAJARDO</h3>
        <img src="img/Sergio-Fajardo (1).webp" class="styleImg">
        <P>
            <font size="5" aling="justyfi">
            Es matemático de la Universidad de los Andes, magíster y doctor en matemáticas de la Universidad
            de
            Wisconsin, magíster de la Universidad de los Andes y doctor Honoris Causa de la Universidad
            Internacional Menéndez Pelayo, España (2009) y la Universidad Nacional de Córdoba, Argentina
            (2015).Fue Gobernador de Antioquia (2012-2015). Su plan de desarrollo “Antioquia la Más Educada”
            (2012-2015), fue premiado el mejor del país, y gracias a su ejecución, obtuvo el reconocimiento
            de
            mejor Gobernador otorgado por la Fundación Colombia Líder. Ha sido Galardonado con varios
            premios
            como Excelencia y Liderazgo en Gestión Urbana y Desarrollo de la Universidad de Rotterdam,
            Países
            Bajos (2014)
        </font>
        </P>


        <h3 id="Sepa Mas DE Nosotros">MISIÓN, VISIÓN, OBJETIVOS</h3>
        <P>
        <h1>Principios éticos: «No todo vale»:</h1>

        <p align="left">
            <font size="5">
                En junio de 2021, la coalición presentó los llamados nueve principios éticos bajo los que se regiría su
                propuesta.<br>

                <li> 1.Construir colectivamente.</li>
                <li> 2.Proteger la vida.</li>
                <li> 3.Privilegiar el bien común y la equidad.</li>
                <li> 4.Decir siempre la verdad.</li>
                <li> 5.Proteger los recursos públicos.</li>
                <li> 6.Garantizar el diálogo y la participación ciudadana.</li>
                <li> 7.Limitar el ejercicio del poder.</li>
                <li> 8.Defender la libertad. la igualdad y la dignidad humana.</li>
                <li> 9.Reconciliar y construir.</li>
            </font>
        </p>

        <br>

        <footer class="pie2" align="center">
            &#169; Copyright Partido Centro Esperanza| Contáctanos
            <img src="img/facebo.webp" HSPACE="10" VSPACE="10">
            <img src="img/insta.webp" HSPACE="10" VSPACE="10">
            <img src="img/twitter.webp" HSPACE="10" VSPACE="10">
        </footer>
<center><a th:href="@{/index1}">Volver al sitio votAPP</a></center>
    <footer id="pie">
        <h5>&#169; copyright GRUPO 26 UNAB-MISIONMINTIC</h5>
    </footer>
</body>

</html>