<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/estiloCPG.css}">
    <link rel="stylesheet" type="text/css" href="bootstrap-5.2.1-dist/css/bootstrap.css">
    <title>Partido Colombia Piensa en Grande</title>
</head>

<body id="cuerpo">
    <header>
        <div class="logo">
            <!-- PAGINA WEB (O PAGINAS WEB DE LOS PARTIDOS DE LOS CANDIDATOS) (Adecuar el estilo a su gusto y el contenido que considere) 
        PUEDEN HACER 1 PAGINA POR PARTIDO O UNA SOLA PARA TODOS LOS PARTIDOS NEVAGANDO CADA PARTIDO CON ANCLAS -->
            <center><strong>
                    <font size="8">
                        <h2 id="tituloPartido">PARTIDO COLOMBIA PIENSA EN GRANDE</h2>
                    </font>
                </strong></center><br><br>
            <hr>
            <center><img id="fotointroduccion" src="img/106670381_111649907269166_2291776847771288377_n.jpg" width="180"
                    height="400">
            </center>
            <hr width="80%">
        </div>
    </header>
    <center><a href="index.html"> Volver al inicio </a></center>

    <h1>Nuestra Misión</h1>
    <div class="div1">
        <p align="center ">
        <font size="5">
            Promover el desarrollo humano integral sostenible con enfoque territorial.

            Aportar al desarrollo democrático, cívico, ambiental, cultural y educativo de las comunidades, buscando
            la despolarización social y teniendo como instrumento de incidencia social los mecanismos de
            participación democráticos.

            Promover la protección y el respeto de los derechos humanos, sociales, culturales y ambientales.

            Desarrollar la capacidad y el uso del conocimiento con apoyo en las tecnologías de la información y las
            comunicaciones, en el marco de la promoción de la ciencia, la tecnología y la innovación.
            .</font>
        </p>
        <img class="fotopartido" src="img/tituloppg.jfif">
    </div>
    <div class="div1">
        <h1>Nuestra Visión</h1>
        <p align=" center">
        <font size="5">
            En el 2030 seremos una organización reconocida en Latinoamérica por su capacidad de gestionar procesos
            sociales de alto valor para el fortalecimiento del tejido social y la democracia en el marco de la
            promoción
            del pensamiento social de gran impacto.
            .</font>
        </p> <br>
    </div>
    <hr width="100%">
    <center><a th:href="@{/index1}">Volver al sitio votAPP</a></center>
    <footer id="pie">
        <h5>&#169; copyright GRUPO 26 UNAB-MISIONMINTIC</h5>
    </footer>
</body>

</html>