<html>

<head>
    <title>Partido Liga Gobernante</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/estiloLGA.css}">

</head>

<body>
    <div id="menu">
        <h1>PARTIDO LIGA DE GOBERNANTES ANTICORRUPCIÓN</h1>
    </div>
    <!-- PAGINA WEB (O PAGINAS WEB DE LOS PARTIDOS DE LOS CANDIDATOS) (Adecuar el estilo a su gusto y el contenido que considere) 
        PUEDEN HACER 1 PAGINA POR PARTIDO O UNA SOLA PARA TODOS LOS PARTIDOS NEVAGANDO CADA PARTIDO CON ANCLAS -->
    <br>

    <center><img src="img/Logo_of_the_League_of_Anti-Corruption_Governors.svg.png" width="200" height="100"></center>
    <hr width="80%">
    <center><a href="index.html"> Volver al inicio </a></center>


    <section class="contenido3">
        <h2>Liga de Gobernantes Anticorrupción </h2>

        <p>

            La Liga de Gobernantes Anticorrupción "LIGA" es un partido político colombiano, creado en octubre de
            2019 por el exalcalde de Bucaramanga, Rodolfo Hernández Suárez y por los candidatos al concejo municipal
            de 2020-2023.Fue ideado como una alternativa cívica independiente a los partidos políticos
            tradicionales, con el propósito de llegar a la presidencia de la república en las elecciones de 2022.El
            movimiento logró posicionarse como partido político con personería jurídica el 4 de agosto de 2022 luego
            de la resolución publicada por el Consejo Nacional Electoral a raíz de la solicitud de su líder y
            presidente provisional, Rodolfo Hernández. Actualmente se encuentra en oposición al gobierno del
            presidente Gustavo Petro.

            Para las elecciones locales de 2015, Rodolfo Hernández lograría llegar a la Alcaldía de Bucaramanga por
            medio de una candidatura independiente mediante el «Movimiento Cívico Lógica Ética y Estética», fundado
            previamente por Hernández para apoyar su campaña política..</font>
        </p>
    </section>

    <section class="contenido3">
         <h2>Principios de la Liga:</h2>

        <p>

            En los estatutos del grupo significativo de ciudadanos Liga de Gobernantes Anticorrupción “LIGA", se
            afirma
            que el movimiento político se ajustará en su organización y funcionamiento a los principios básicos
            de juego
            limpio, transparencia, igualdad, equidad de género, pluralismo, objetividad y el deber de presentar
            y
            divulgar sus programas políticos de conformidad con lo dispuesto en la Constitución, en las leyes y
            en sus
            reglamentaciones interna.
         
        </p></section>
   

      

        <hr width="100%">
        <br>
        <dv> <center><iframe name="Marquito" src="https://www.ligadegobernantesanticorrupcion.com/" width="90%"
            height="300"></iframe></center></dv>
             <hr width="100%">
    <center><a th:href="@{/index1}">Volver al sitio votAPP</a></center>
    <footer id="pie">
        <h5>&#169; copyright GRUPO 26 UNAB-MISIONMINTIC</h5>
    </footer>
   
</body>

</html>