<!DOCTYPE html>
<html>

<head>
    <title>Partido Verde Oxigeno</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/estiloOxig.css}">
    <link rel="stylesheet" type="text/css" href="bootstrap-5.2.1-dist/css/bootstrap.min.css">
</head>

<body>
    <header id="encabezado">
        <table>
            <tr>
                <td><img src="img/oxigeno1.png"></td>
                <td>
                    <center>
                        <h2 class="display-1">Partido Verde Oxígeno</h2>
                    </center>
                </td>
            </tr>
        </table>
    </header>

    <nav id="menu">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">QUIENES SOMOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">LOS Y LAS CANDIDATAS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">NOTICIAS</a>
            </li>
        </ul>
    </nav>



    <section id="contenido1">
        <h3>NUESTRA CANDIDATA</h3>
        <img src="img/ingrid.jpg" class="styleImg">
        <P>
            "Cuando seamos incondicionales ante la defensa de la vida y de la libertad de los nuestros, es decir, cuando
            seamos menos individualistas y más solidarios, menos indiferentes y más comprometidos, menos intolerantes y
            más compasivos. Entonces ese día seremos la nación grande que llevamos por dentro". <br>
            Ingrid Betancourt
        </P>


        <h3>MISIÓN, VISIÓN, OBJETIVOS</h3>
        <img src="img/partverd.jpeg" class="styleImg">
        <P>
            Queremos hacer de Colombia el mejor país del mundo. Un país donde todas y todos sintamos el privilegio de
            ser de aquí, porque todas y todos somos parte de su progreso. ​
            Nuestra misión es liberar al país del sistema de corrupción que nos mantiene a todas las personas
            secuestradas.
            La corrupción es la responsable de la pobreza y de la violencia en Colombia. Combatimos el caudillismo, el
            continuismo, los extremismos ideológicos y sus demagogias, porque todas estas variantes de la política han
            hecho de la corrupción su método de acceso al poder y su instrumento para gobernar.
        </P>
    </section>

    <aside id="contenido2">
        <table>
            <tr>
                <td align="center"> <img src="img/verdeox.jpg"></td>
            </tr>
            <tr>
                <td align="center"> <img src="img/partidoverde.jpg"></td>
            </tr>
            <tr>
                <td align="center"> <img src="img/vot1-copia.jpg"></td>
            </tr>
        </table>
    </aside>

    <div>
        <h3> RESULTADOS DE NUESTRO PARTIDO</h3>
        <table id="table" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Año 2018</th>
                    <th scope="col">Año 2022</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Bogotá</td>
                    <td>119.167</td>
                    <td>198.054</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Medelín</td>
                    <td>58.921</td>
                    <td>62.981</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Cali</td>
                    <td>36.178</td>
                    <td>49.358</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <footer id="pie" align="center">
        <img src="img/Verde_Oxígeno.gif"> | &#169; Copyright Partido Verde Oxigeno
            | Contáctanos <img src="img/facebo.webp" class="styleImg2" HSPACE="10" VSPACE="10"><img
                src="img/insta.webp" class="styleImg2" HSPACE="10" VSPACE="10"><img src="img/twitter.webp"
                class="styleImg2" HSPACE="10" VSPACE="10"><img src="img/th.jpg" class="styleImg2">
    </footer>

</body>
<center><a th:href="@{/index1}">Volver al sitio votAPP</a></center>
<br>
<center><footer id="pie">
        <h5>&#169; copyright GRUPO 26 UNAB-MISIONMINTIC</h5>
    </center></footer>

</html>