<html>
    <head>
        <title>Partido Equipo Colombia</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/estiloEC.css}">
        <link rel="stylesheet" type="text/css" href="bootstrap-5.2.1-dist/css/bootstrap.min.css"
    </head>

    <body>
        <div id="encabezado">
            <table>
                <tr>
                    <td>
                        <center>
                            <h2 class="display-1">PARTIDO EQUIPO POR COLOMBIA</h2>
                        </center>
                    </td>
                </tr>
            </table>
        </div>
        
    
    <hr>
    <center><img src="img/Logo_Coalición_Equipo_por_Colombia.png" width="300" height="200" ></center>
    <center><img src="img/Fico.jpg" width="300" height="300" ></center>
<hr width="80%">

 <center><a href="index.html"> Volver al inicio </a></center>
 
    <div id="Contenido1">
    <h1><center><font color="red" size="6"> Coalición Equipo por Colombia </font></center></h1>

    
    <p align="justify"> <font color="grey" size="5">
        La Coalición Equipo por Colombia, conocida popularmente como la Coalición de la Experiencia o la Coalición de las Regiones, fue una coalición electoral colombiana compuesta principalmente por partidos políticos y movimientos sociales de centroderecha y derecha con miras a las elecciones presidenciales de 2022. Esta coalición fue lanzada el 19 de noviembre de 2021, mediante una rueda de prensa en donde participaron varios líderes políticos (Federico Gutiérrez, Alejandro Char, Juan Carlos Echeverry, Enrique Peñalosa, Dilian Francisca Toro y Aydeé Lizarazo).</font>
    </p>

    <h1><center><font color="red" size="6">Principios y objetivos fundamentales:</font></center></h1>

    <p align="justify"> <font color="grey" size="5">
        <li>Crear un gobierno con carácter, capacidad técnica y responsabilidad con la ciudadanía que buscar ponerle freno a la amenaza del populismo de izquierda evidente en las últimas elecciones presidenciales.</li>
        <li>Enfrentar las dificultades económicas de Colombia a través del combate a la pobreza que trajo consigo la pandemia con el lema de la lucha contra la desigualdad social, la generación de más y mejores empleos y garantizar el enfoque en las regiones.</li>
        <li>Impulsar la recuperación de la navegabilidad de los ríos y de las vías férreas; con la triplicación de la inversión en vías terciarias para que los campesinos y emprendedores del campo, tengan condiciones para producir sus tierras.</li>
        <li>Presentar listas al Senado de la República y a la Cámara de Representantes en las Elecciones legislativas del 13 de marzo de 2022 con listas abiertas por el Partido de la Unión por la Gente (PUG), el Partido Conservador Colombiano (PCC) y el Partido Político MIRA (PPM).</li>
        <li>Ganar la presidencia en las elecciones presidenciales del 29 de mayo de 2022 (primera vuelta), y dado el caso, en las del 19 de junio de 2022 (segunda vuelta).</li></font>
    </p><br><br>
    </div>
   <hr width="100%">
    

    <hr>
    <center><img src="img/Tarjeton.jfif" width="400" height="600" ></center>

    
    <center><a href="https://www.instagram.com/ficogutierrez/?hl=es" class="btn btn-info" role="button">Instagram Fico Gutierrez</a></center> 
<center><a th:href="@{/index1}">Volver al sitio votAPP</a></center>
<hr width="80%">
<br>
	<center><footer id="pie">
        <h5>&#169; copyright GRUPO 26 UNAB-MISIONMINTIC</h5>
    </footer></center>
</body>
</html>
