<!DOCTYPE html>
<html>

<head>
    <title>Partido Pacto Histórico</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/estiloPact.css}">
    <link rel="stylesheet" type="text/css" href="bootstrap-5.2.1-dist/css/bootstrap.min.css">
</head>

<body>
    <header id="encabezado">
        <table>
            <tr>
                <td><img src="img/pacto1.jpg"></td>
                <td>
                        <font color="white">
                            <h2 class="display-1">Partido Pacto Histórico</h2>
                        </font>
                        </center>
                </td>
            </tr>
        </table>
    </header>

    <nav id="menu">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">QUIENES SOMOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ESTATUTOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">LOS Y LAS CANDIDATAS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">NOTICIAS</a>
            </li>
        </ul>
    </nav>



    <section id="contenido1">
        <h3>GUSTAVO PETRO  ¡PRESIDENTE!</h3>
        <img src="img/pacto4.jpg" class="styleImg">
        <P>
            Siendo militante activo del grupo guerrillero M-19, fue personero de Zipaquirá en 1980 y llegó a ser
            concejal independiente de ese municipio entre 1984 y 1986.40​41​ Junto a otros desmovilizados del proceso de
            paz, Petro fue cofundador del partido político Alianza Democrática M-19 (AD M-19),42​ movimiento que
            participó en la Asamblea Nacional Constituyente de 1991 y que fue determinante para la redacción de la
            Constitución de 1991.43​ Entre 1990 y 1991, fue asesor de la Gobernación de Cundinamarca,8​ y con el apoyo
            del AD M-19 llegó a la Cámara de Representantes en 1991 por el departamento de Cundinamarca.
        </P>


        <h3>¿QUE ES EL PACTO HISTÓRICO?</h3>
        <img src="img/pacto3.jpg" class="styleImg">
        <P>
            El Pacto Histórico es una juntanza de la sociedad colombiana para acordar un presente y un futuro
            diferentes, fundando así un nuevo país basado en la paz, la justicia social y la democracia.
            Es un acuerdo sobre lo fundamental entre los distintos sectores de la sociedad colombiana para asumir el
            gobierno, cambiar el poder y constriciuir una nueva realidad nacional basada en la democracia, justicia y
            paz.
            El 11 de febrero de 2021 se presentó oficialmente, en una rueda de prensa, la coalición Pacto Histórico. Fue
            formada con miras a las elecciones legislativas y presidenciales de 2022. Entre los líderes y lideresas que
            conforman la coalición se destacan Gustavo Petro, Gustavo Bolívar, Alexander López, Aída Avella, Iván
            Cepeda, María José Pizarro y Francia Márquez.El bloque se planteó la misión de presentar una lista que
            obtenga una mayoría en el congreso y una candidatura que pueda llegar a la presidencia de la República. Los
            movimientos y partidos políticos fundadores de la coalición fueron: Colombia Humana, Unión
            Patriótica-Partido Comunista, Polo Democrático Alternativo, Movimiento Alternativo Indígena y Social,
            Partido del Trabajo de Colombia, Unidad Democrática y Todos Somos Colombia. Posteriormente con la intención
            de ampliar la coalición, se formaron mesas de diálogos con distintos partidos como Alianza Verde.
        </P>
    </section> <br>

    <aside id="contenido2">
        <table>
            <tr>
                <td align="center"> <img src="img/pacto5.jpg"></td>
            </tr>
            <tr>
                <td align="center"> <img src="img/pacto6.jpg"></td>
            </tr>
            <tr>
                <td align="center"> <img src="img/pacto8.jpeg"></td>
            </tr>
        </table>
    </aside>

    <div>
        <h3> RESULTADOS DE LA CONSULTA INTERNA</h3>
        <table id="table"  class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Candidato</th>
                <th scope="col">Partido político</th>
                <th scope="col">Votos obtenidos</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Gustavo Petro</td>
                <td>Colombia Humana</td>
                <td>4.487.551  (80,51%)</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Francia Márquez</td>
                <td>Polo Democrático Alternativo</td>
                <td> 783.160  (14,05%)</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Camilo Romero</td>
                <td>Coalición Partido Unión Patriótica y Alianza Democrática Amplia "ADA"</td>
                <td> 226.982  (4%)</td>
              </tr>              
                            
              <tr>
                <th scope="row">4</th>
                <td>Arelis Uriana </td>
                <td>Movimiento Alternativo Indígena y Social "MAIS"</td>
                <td>54.541  (0,97%)</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Alfredo Saade</td>
                <td>Alianza Democrática Amplia "ADA"</td>
                <td> 21.660 (0,38%)</td>
              </tr>               
            </tbody>
        </table>
    </div>
    <br>

    <footer id="pie" align="center">
        <img src="img/pacto9.jpg"> | &#169; Copyright Partido Pacto Histórico
        | Contáctanos <img src="img/facebo.webp" class="styleImg2" HSPACE="10" VSPACE="10"><img
            src="img/insta.webp" class="styleImg2" HSPACE="10" VSPACE="10"><img src="img/twitter.webp"
            class="styleImg2" HSPACE="10" VSPACE="10"><img src="img/th.jpg" class="styleImg2">
    </footer><br>

</body>
<center><a th:href="@{/index1}">Volver al sitio votAPP</a></center>

</html>